@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: var(--bs-white, #FFF);
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.20);
}

nav .nav-link {
    color: #0D6EFD;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
}


.title {
    color: #212529;
    text-align: center;
    font-family: Roboto;
    font-size: 31px;
    font-style: normal;
    font-weight: 500;
    line-height: 38.4px;
}

.logo {
    padding-top: 58px;
    padding-bottom: 23px;
}

p {
    color: #212529;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    margin-top: 5px;
}

.detailProduct {
    padding-left: 166px;
    padding-right: 166px;
}

.detailProduct .title {
    margin-top: 64px;
    color: #212529;
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.8px;
    text-align: left;
}

.detailProduct p {
    color: #212529;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.search {
    margin-left: 220px;
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    .title {
        font-size: 24px;
        line-height: 30px;
    }

    p {
        font-size: 16px;
        line-height: 24px;
    }

    .detailProduct {
        padding-left: 20px;
    }

    .detailProduct .title {
        font-size: 18px;
        line-height: 24px;
    }

    .logo {
        padding-top: 30px;
        padding-bottom: 15px;
    }

    .detailProduct {
        padding-left: 10px;
    }

    .search {
        margin-left: 0;
    }
}